@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: #0e4e83 url('../img/fabric-light.png') fixed;
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    transition: background 0.4s ease-in;
}
body.red {
    background-color: #7b1111;
}
body.yellow {
    background-color: #715e04;
}
body.green {
    background-color: #005a1d;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Header */

header {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    top: 0;
    margin: 40px 0;
}
header h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #fff;
}
header img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 15px auto 0;
    text-align: center;
}
header nav ul li {
    display: inline-block;
    margin-right: 10px;
}
footer {
    font-size: 13px;
    margin: 70px 0 40px;
    text-align: center;
    color: #fff;
}
.pages {
    display: none;
    color: white;
}
.center {
    text-align: center;
}

/* Terminal */

.terminal {
    width: 90%;
    height: auto;
    position: relative;
    margin: 30px auto;
    background: #263238;
    opacity: 0.95;
    line-height: 18px;
    color: #fafafa;
}
.terminal .blue,
.terminal b {
    color: #1AB4E8;
}
.terminal .grey {
    color: #999;
}

.terminal .content {
    background: none;
    height: 400px;
    z-index: 2;
    color: #eee;
    font-size: 14px;
    cursor: text;
    padding: 5px 7px;
    overflow-y: auto;
}
.terminal .content #output {
    white-space: pre-wrap;
    word-break: keep-all;
}
.terminal .content a {
    color: #1DCF5B;
}

.terminal input {
    background: none;
    width: 97%;
    border: 0;
    outline: 0;
    letter-spacing: inherit;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.terminal .command-input {
    user-select: none;
}

/* Resume Window */

#resume-viewer-container {
    position: absolute;
    top: 110px;
    left: 0;
    display: none;
    z-index: 3;
    width: 100%;
    height: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
    text-align: center;
}
#resume-viewer-container .content {
    width: 100%;
    max-height: 955px;
    padding-top: 2px;
}
#resume-viewer-container .content a {
    color: #008CBA;
}
#resume-viewer-container .content a.download {
    font-size: 13px;
    color: #888;
}
#resume-viewer {
    width: 97%;
    height: 98%;
}

/* Media query for phones */

@media(max-width: 645px) {
    .terminal input {
        width: 94%;
    }
    header img {
        width: 70px;
    }
    header h1 {
        font-size: 30px;
    }
}