@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    background: #0C64AB url('../img/fabric-light.png');
    font-family: Monaco, 'Anonymous Pro', Courier, monospace;
    padding: 10px;
    margin: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1.header {
    text-align: center;
    margin: 40px 0 10px 0;
    font-weight: bold;
    color: #fff;
}
footer {
    font-size: 13px;
    margin: 0 0 40px;
    text-align: center;
    color: #fff;
}
.center {
    text-align: center;
}
.terminal {
    max-width: 100%;
    width: 700px;
    min-height: 400px;
    margin: 30px auto;
    position: relative;
}
.terminal .blue {
    color: #1AB4E8;
}
.terminal .italic {
    font-style: italic;
}
.terminal img.bg {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.95;
    user-select: none;
}
.terminal .bar {
    background: none;
    position: absolute;
    top: 6.5%;
    left: 0;
    width: 100%;
    height: 18px;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgb(61,59,61);
    cursor: default;
}
.terminal .bar #title {
    cursor: default;
}
.terminal .window {
    background: none;
    position: absolute;
    top: 10%;
    left: 7.5%;
    width: 84%;
    height: 73%;
    z-index: 2;
    color: #eee;
    font-size: 14px;
    cursor: text;
    padding: 5px 0 0 5px;
    overflow-y: scroll;
}
.terminal .window #output {
    white-space: pre;
}

.terminal input {
    background: none;
    width: 96%;
    border: 0;
    outline: 0;
    letter-spacing: inherit;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
.terminal .bar,
.terminal .command-input {
    user-select: none;
}